 .u-section-1 {
  background-image: url("images/vccvv-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 126px 208px 0 254px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 35px 435px 0 auto;
  padding: 19px 47px 20px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 428px 60px auto;
  padding: 19px 47px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 678px;
    margin-left: 154px;
    margin-right: 108px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 235px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    width: 492px;
    margin-left: 42px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
    width: 429px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    margin-right: 0;
    padding: 15px 40px 16px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}